.BackButton {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-weight: 700;
    font-size: 2rem;
    color: #535353;
    background: #fff7f2;
    box-shadow: 5px 5px 10px #535353;
    border: none;
    display: inline;
    position: fixed;
    right: calc(10% - 1.5rem);
    top: 2rem;
    
}

.BackButton:hover {
    background:  rgba(255, 127, 80, 0.15);
    cursor: pointer;
}


.PageFrame {
    margin: 5rem 20%;
}

.ThumbDetailWrapper {
    position: fixed;
    display: flex;
    top: 2rem;
    left: 1%;
    width: 18%;
    height: auto;
    max-height: 12rem;
    justify-content:center;
    align-items:center;
    overflow:hidden;    
}

.ThumbDetail {
  flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:100%;
}

.TextInfo {
    padding: 0px;
    margin: 0px;
    text-align: justify;
}

.Subtitle {
    margin-top: 4rem;
}

.Title {
    text-align: left;
    margin: 0;
    display: inline;
    line-height: 3rem;
}

.TitleWrapper {
    background: #e7f2f8;
    position: fixed;
    top: 0px;
    padding-top: 2rem;
    width: 60%;
}

.CharList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-row-gap: 1rem;
    list-style-type: none;
    color: #939393;
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 500px) {
    .Title {
        font-size: 8vw;
    }
    .PageFrame {
        margin-top: calc(8vw + 5rem);
    }
}
